body{
    background-color: burlywood;
  }
  
  .App {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5rem;
    text-align: center;
  }
  
  .profile-pic{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
  }
  
  .icons{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .icon-link{
    margin: 1rem;
  }

  .title{
    font-size: 2rem;
  }